{% extends "base.html" %}

{% block announce %}
<div class="bh-topbar">
  <span class="bh-topbar-ip">🎮 IP: <code>mc.axied.ru</code></span>
  <span class="bh-topbar-links">
    <a class="bh-social" href="https://discord.gg/J5ADg5FeKG" target="_blank" rel="noopener" title="Discord" aria-label="Discord">{% include ".icons/fontawesome/brands/discord.svg" %}</a>
    <a class="bh-social" href="https://t.me/+tbA1DkmZ77VjZmNi" target="_blank" rel="noopener" title="Telegram" aria-label="Telegram">{% include ".icons/fontawesome/brands/telegram.svg" %}</a>
    <a class="bh-social" href="https://axied.easydonate.ru/" target="_blank" rel="noopener" title="Магазин" aria-label="Магазин">{% include ".icons/fontawesome/solid/cart-shopping.svg" %}</a>
  </span>
</div>
{% endblock %}
